{
  "openapi": "3.0.0",
  "info": {
    "description": "The Holded's Accounting API is organized around REST, using HTTP responses code to keep you informed about what's going on. Our endpoints will returns you metada in JSON format directly from Holded.",
    "version": "1.0.0",
    "title": "Accounting API",
    "contact": {
      "email": "developers@holded.com"
    }
  },
  "x-samples-languages": ["curl", "node", "ruby", "python"],
  "security": [
    {
      "Auth": []
    }
  ],
  "tags": [
    {
      "name": "Daily Ledger",
      "description": "CRUD Daily Ledger"
    },
    {
      "name": "Chart of Accounts",
      "description": "CRUD Chart of Accounts"
    }
  ],
  "paths": {
    "/dailyledger": {
      "get": {
        "tags": ["Daily Ledger"],
        "summary": "List all your entries",
        "operationId": "listDailyLedger",
        "description": "List all the entries you have in your daily ledger.\n",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "description": "the response is paginated and limited to 500 entries,",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "starttmp",
            "in": "query",
            "description": "Starting timestamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtmp",
            "in": "query",
            "description": "Ending timestamp",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "search results matching criteria"
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/entry": {
      "post": {
        "tags": ["Daily Ledger"],
        "summary": "Create entry",
        "operationId": "createEntry",
        "description": "Create a new accounting entry\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": "integer",
                    "description": "Timestamp for entry date"
                  },
                  "lines": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "account": {
                          "type": "integer",
                          "description": "Account number for this entry line"
                        },
                        "credit": {
                          "type": "number"
                        },
                        "debit": {
                          "type": "number"
                        },
                        "description": {
                          "type": "string"
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      },
                      "required": ["account"]
                    }
                  },
                  "notes": {
                    "type": "string",
                    "description": "Entry Note"
                  }
                },
                "required": ["date", "lines"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The output when an entry has successfully been created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "entryGroupId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/chartofaccounts": {
      "get": {
        "tags": ["Chart of Accounts"],
        "summary": "List all your accounting accounts",
        "operationId": "listaccounts",
        "description": "List all your accounting accounts.\n",
        "parameters": [
          {
            "name": "starttmp",
            "in": "query",
            "description": "Starting timestamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "endtmp",
            "in": "query",
            "description": "Ending timestamp",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeEmpty",
            "in": "query",
            "description": "Include Empty accounts (0: no include empty, 1: include empty)",
            "required": false,
            "schema": {
              "type": "number",
              "enum": [0, 1]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "search results matching criteria"
          },
          "400": {
            "description": "bad input parameter"
          }
        }
      }
    },
    "/account": {
      "post": {
        "tags": ["Chart of Accounts"],
        "summary": "Create a new accounting account",
        "operationId": "createAccount",
        "description": "Create a new accounting account\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prefix": {
                    "type": "integer",
                    "description": "4 digit prefix of the account to be created"
                  },
                  "name": {
                    "type": "string",
                    "description": "Name of the account to be created (falls back to parent account name if empty)"
                  },
                  "color": {
                    "type": "string",
                    "description": "Hex code"
                  }
                },
                "required": ["prefix"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The output if an account has successfully been created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://api.holded.com/api/accounting/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "Auth": {
        "type": "apiKey",
        "name": "key",
        "in": "header"
      }
    }
  },
  "x-readme": {
    "explorer-enabled": true,
    "proxy-enabled": true
  }
}
