name: Tests

on:
  pull_request:
    branches: [main]

  workflow_call:

jobs:
  phpunit:
    name: PHP Unit Testing
    runs-on: ubuntu-22.04
    container:
      image: codeccoop/wp-test
    steps:
      - name: Start MariaDB
        run: nohup docker-entrypoint.sh mariadbd 2>&1 >/dev/null &

      - name: Composer install
        run: composer -q install

      - name: Wait for MariaDB
        run: sleep 5

      - name: Executable mode
        run: chmod a+x bin/*

      - name: Install tests suite
        run: bin/install-wp-tests.sh

      - name: Download deps
        run: bin/download-test-deps.sh

      - name: Unit testing
        run: vendor/bin/phpunit -c phpunit.xml.dist
